body{
    margin: 0px;
    padding:0px;
    background: cyan;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.clock{
    animation: fadein 2s;
    opacity: 1;
    width:400px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: darken(cyan, 30%);
    &:before{
        position: absolute;
        content: ":";
        left: 122px;
        top: 50%;
        margin-top: -10px;
    }
    &:after{
        position: absolute;
        content: ":";
        right: 116px;
        top: 50%;
        margin-top: -10px;
    }
}
.timebar{
    margin-right: 23px;
    color:white;
    padding-left: 3px;
    padding-right: 3px;
    height: 517px;
    width:40px;
    text-align: center;
    line-height: 1.3;
    display: inline-block;
    background-color: darken(cyan,10%);
    box-shadow:
    0.1px 0.1px 0px 0px darken(cyan,20%),
    0.5px 0.5px 0px 0px darken(cyan,20%),
    1.0px 1.0px 0px 0px darken(cyan,20%),
    1.5px 1.5px 0px 0px darken(cyan,20%),
    2.0px 2.0px 0px 0px darken(cyan,20%),
    2.5px 2.5px 0px 0px darken(cyan,20%),
    3.0px 3.0px 0px 0px darken(cyan,20%),
    3.5px 3.5px 0px 0px darken(cyan,20%),
    4.0px 4.0px 0px 0px darken(cyan,20%),
    4.5px 4.5px 0px 0px darken(cyan,20%),
    5.0px 5.0px 0px 0px darken(cyan,20%),
    5.5px 5.5px 0px 0px darken(cyan,20%),
    6.0px 6.0px 0px 0px darken(cyan,20%),
    6.5px 6.5px 0px 0px darken(cyan,20%),
    7.0px 7.0px 0px 0px darken(cyan,20%);
    margin-top:498px;
    position: relative;
    transition: all 600ms ease;
    top: 0px;
    &:before{
        content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A";
    }
    &.n1{top:calc(-52px * 1);}
    &.n2{top:calc(-52px * 2);}
    &.n3{top:calc(-52px * 3);}
    &.n4{top:calc(-52px * 4);}
    &.n5{top:calc(-52px * 5);}
    &.n6{top:calc(-52px * 6);}
    &.n7{top:calc(-52px * 7);}
    &.n8{top:calc(-52px * 8);}
    &.n9{top:calc(-52px * 9);}
    &#hour1{
        height: 157px;
        margin-top:138px;
        &:before{
            content: "0\A 1\A 2";
        }
        &.n1{top:calc(-52px * 1);}
        &.n2{top:calc(-52px * 2);}
    }
    &:last-child{
        margin-right: 0px;
    }
}